pandas==2.2.3
openpyxl
matplotlib
numpy
scikit-learn
sqlalchemy
statsmodels
seaborn
tensorflow
sympy
nltk
textblob
transformers
torch
spacy   #python -m spacy download en
gensim
pyphonetics
fuzzywuzzy
plotly
yfinance